################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/System/__pycache__
/.vs
*.pyc
*.suo
.vscode/settings.json
.vscode/launch.json
